SUPERCLASSES=NORM,MI,CD,HYP,STTC
NUM_LEAD=12
USE_GPU=1
DEVICE=cuda

TARGET_FS=500
TARGET_DURATION_SEC=10.0

PACS_BASE_URL=http://195.158.10.39:8080/dcm4chee-arc/aets/DCM4CHEE/rs
PACS_TIMEOUT_CONNECT=5
PACS_TIMEOUT_READ=30

NUM_CLASSES_150=150
TOP_K_150=10

WFDB_ROOT=./wfdb_data

LOG_FILE_MAX_BYTES=10485760
LOG_FILE_BACKUP_COUNT=5

PORT=8000
APP_ENV=development
LOG_LEVEL=INFO